.footer {
  padding: 27px 0 14px;
  color: $white;
  background-color: $mineShaft;

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
  }

  &__logo {
    margin-bottom: 6px;
    grid-column: 1/3;
    justify-self: start;
  }

  &__info {
    max-width: 360px;
    grid-column: 5/9;

    & p {
      margin: 0;
      font-size: 16px;
      line-height: 22px;
      color: $silver;
      & span {
        display: inline-block;
        color: $dovegray;
      }
    }
  }
  &__social-inner {
    grid-column: 11/13;

    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__social {
    padding-right: 14px;
  }

  &__social-text {
    display: block;
    margin-bottom: 8px;
  }
}

.logo-box {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & span {
    display: flex;
    align-items: center;
    font-family: "TTFirsNeue", sans-serif;
    color: $silver;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

  }
}
