.header {
  position: relative;
  padding: 24px 0;
  background-color: $mineShaft;
  color: $white;
  &__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  &__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

}

.nav{
  &__list {
    display: flex;
    margin-right: 87px;
  }
  &__item{
    &:not(:last-child){
      margin-right: 80px;
    }
  }
  &__link{
    font-family: 'TTFirsNeue', sans-serif;
  }
}
.social-list {
  display: flex;
  align-items: center;

  @include r(440) {
    order: -1;
    padding-bottom: 20px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: block;
    width: 45px;
    height: 45px;
    transition: filter 0.2s;

    &:focus {
      outline: 0;
      filter: invert(5%) sepia(100%) saturate(19%) hue-rotate(261deg) brightness(104%) contrast(104%);
    }

    &:hover {
      filter: invert(5%) sepia(100%) saturate(19%) hue-rotate(261deg) brightness(104%) contrast(104%);
    }

    &:active {
      filter: invert(50%) sepia(16%) saturate(3635%) hue-rotate(233deg) brightness(84%) contrast(93%);
    }

    &--vk {
      background-image: url('../../images/icons/vk.svg');
    }

    &--inst {
      background-image: url('../../images/icons/inst.svg');
    }

    &--fb {
      background-image: url('../../images/icons/fb.svg');
    }
  }
}
