.hero {
  padding: 42px 0 24px;
  @include r(968) {
    padding-top: 80px;

  }
}

.hero-content {
  display: grid;
  grid-template-columns: 49% 23.1% 23.1%;
  grid-template-rows: minmax(20px,  auto);
  gap: 30px;
  @include r(1024) {
    grid-template-columns: 49% 22.5% 22.5%;
    grid-template-rows: minmax(45px,  auto);

  }
  @include r(768) {
    grid-template-columns: 49% 21.8% 21.8%;
    grid-template-rows: minmax(45px,  auto);

  }


  & img {
    object-fit: cover;
  }

  &__item1 {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/4;
  }

  &__item-info {
    position: absolute;
    bottom: 104px;
    left: 59px;
    @include r(1024){
     left: 30px;
     bottom: 74px;
    }
    @include r(768){
     left: 30px;
     bottom: 30px;
    }
  }

  &__item-text {
    display: block;
    margin-bottom: 12px;
    color: $white;
  }

  &__item-title {
    max-width: 427px;
    margin: 0;
    margin-bottom: 19px;
    font-family: "TTFirsNeue", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 104%;
    color: $white;
    @include r(1024){
      font-size: 34px;
    }
  }

  &__item-link {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__item2 {
    grid-column: 2/4;
    grid-row: 1/2;
    font-weight: 700;
    font-size: 24px;
    line-height: 104%;

    & div {
      margin-top: -5px;
      font-family: "TTFirsNeue";
      font-weight: 700;
      font-size: 24px;
      line-height: 104%;
      @include r(768){
        font-size: 22px;
      }
    }
  }

  &__item3 {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  &__item4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  &__item5 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
