<section class="contacts">
  <div class="container">
    <h3 class="contacts__title title">Контакты</h3>
    <div class="contacts__inner">
      <div class="map" id="contacts-map"></div>

      <div class="contacts__form">
        <h5 class="contacts__form-title">Оставить заявку</h5>
        <p class="contacts__form-descr">
          Оставьте ваши данные, указав в графе “Комментарий” желаемые
          время и дату съемки или другого мероприятия
        </p>

        <form class="application-form">
          <label class="application-form__label">
            <input type="text" class="application-form__input" placeholder="Имя" />
          </label>
          <label class="application-form__label">
            <input type="email" class="application-form__input" placeholder="E-mail" />
          </label>
          <textarea class="application-form__textarea" cols="30" rows="10" placeholder="Комментарий"></textarea>
          <button class="application-form__btn btn-reset btn">
            Отправить
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
