<section class="hero">
  <h1 class="sr-only">Художественная Галерея Blanchard</h1>
  <div class="container">
    <ul class="hero-content list-reset">
      <li class="hero-content__item hero-content__item1">
        <img src="./images/hero/hero-1.jpg" alt="" />
        <div class="hero-content__item-info">
          <span class="hero-content__item-text">Мастер-класс от Игоря Робова</span>
          <h2 class="hero-content__item-title">
            Неоновый фотосет 2.0 7 июля 20:00
          </h2>
          <a class="hero-content__item-btn btn" href="">Узнать больше</a>
        </div>
        <a class="hero-content__item-link badge" href="">#мастеркласс</a>
      </li>
      <li class="hero-content__item hero-content__item2">
        <div>Работы участников предыдущего мастер-класса</div>
      </li>
      <li class="hero-content__item hero-content__item3">
        <img src="./images/hero/hero-2.jpg" alt="" />
      </li>
      <li class="hero-content__item hero-content__item4">
        <img src="./images/hero/hero-3.jpg" alt="" />
      </li>
      <li class="hero-content__item hero-content__item5">
        <img src="./images/hero/hero-4.jpg" alt="" />
      </li>
    </ul>
  </div>
</section>
